@media screen and (max-width: 960px) {

    /* UNIVERSAL */

    html {
        font-size: 14px;
    }

    body {
        height: auto;
        width: 100%;
    }

    /* NAVIGATION SECTION */

    .nav-links a {
        display: none;
    }

    .nav-header {
        font-size: 1.6rem;
    }

    #menu-icon {
        display: block;
        cursor: pointer;
        right: 1rem;

    }

    #responsive-list {
        display: none;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
        width: 30%;
        text-decoration: none;
        text-transform: uppercase;
        position: absolute;
        z-index: 10;
        box-shadow: 0 0.4em 0.8em rgba(0, 0, 0, 0.3);
        border-radius: 0.5rem;
    }

    #responsive-list a {
        color: #884271;
        text-decoration: none;
        text-transform: uppercase;
        width: auto;
        height: auto;
        padding: 0.5rem;
    }

    #responsive-list a:hover,
    #responsive-list a:active {
        box-shadow: 0 0.4em 0.8em rgba(0, 0, 0, 0.3);
        border-radius: 0.5rem;
        background-color: #884271;
        color: #fff;
    }

    /* SKILLS SECTION */

    #skills-section img {
        width: 100px;
        height: 100px;
    }

    /* HEADER  */

    .header-section {
        height: 32rem;
    }

    .header-title {
        font-size: 2rem;

    }

    /*  PROJECTS  */

    .projects-description {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }


    .portfolio-project-section,
    .gym-project-section,
    .bakery-project-section {
        width: 45%;
    }

}

@media screen and (max-width: 540px) {

    /* HEADER SECTION */

    .header-section {
        height: 25.5rem;
    }

    .header-title {
        font-size: 1.8rem;

    }

    /* PROJECTS SECTION */

    .portfolio-project-section,
    .bakery-project-section,
    .gym-project-section {
        width: 95%;
        height: auto;
    }

    .portfolio-image,
    .bakery-image,
    .club-image {
        height: auto;
    }

    .tech-list {
        list-style-type: circle;
    }

    /* SCROLL BUTTON */

    #scroll-button {
        height: auto;
        width: auto;
    }

}